# .dockerignore
# Files
.env*
Dockerfile
docker-compose*.yml
npm-debug.log
yarn-error.log

# Folders
.next
.git
.agents
.vscode
resources
node_modules
uploads

# Exclude items
!resources/scripts/docker-bootstrap.sh
