# Only Development
NODE_ENV=development

# Application
NEXT_PUBLIC_APP_NAME="Settlr"
NEXT_PUBLIC_APP_DESCRIPTION="Settlr for managing personal finance"
# https://www.haveibeenpwned.com/API/v3#Authentication
ADVANCE_PASS_CHECK=false

# Better Auth
# Generate random auth secret from
# https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=lMD1eol2MrTxIZixGYyjwT0G0DQJ6oLJ
BETTER_AUTH_URL=http://localhost:3000
# Replace with actual origin insted of example
BETTER_AUTH_TRUSTED_ORIGINS=https://example.com,https://*.example.com

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/settlr?schema=public"

# Google login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# CAPTCHA CLOUDFLARE TURNSTILE
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=