# Application
NODE_ENV=development

# Better Auth
# Generate random auth secret from
# https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=lMD1eol2MrTxIZixGYyjwT0G0DQJ6oLJ
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://root:root@localhost:5432/settlr"

# Email Service
SMTP_HOST=<mail.example.com>
SMTP_PORT=587                               # or 465 for SSL
SMTP_USER=<USER@example.com>
SMTP_PASS=<USER_PASSWORD>
SMTP_SECURE=false                           # false for STARTTLS (587), true for SSL (465)
FROM_EMAIL=<settlr@example.com>

# Google login
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

# Discord
DISCORD_CLIENT_ID=<DISCORD_CLIENT_ID>
DISCORD_CLIENT_SECRET=<DISCORD_CLIENT_SECRET>
