services:
  settlr:
    container_name: settlr
    image: settlr:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    restart: unless-stopped
