services:
  settlr-web:
    container_name: settlr-web
    image: settlr-web:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    restart: unless-stopped
